body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    overflow: hidden;
    position: relative;
}

#word-container {
    font-size: 20rem; /* Larger font size */
    font-weight: bold;
    text-align: center;
}

.letter {
    display: inline-block;
    transition: color 2s, text-decoration 2s; /* Adjusted to 2 seconds */
}

.highlight {
    color: red;
    text-decoration: underline; /* Underline individual letters */
}

.underline-all {
    text-decoration: underline; /* Underline entire word */
}

#audio-player {
    position: fixed;
    bottom: 50px;
    left: 10px;
    z-index: 100;
}

#play-pause-button {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#play-pause-button:hover {
    background-color: #0056b3;
}

.confetti {
    position: absolute;
    border-radius: 50%;
    background-color: #ff0;
    opacity: 0.8;
    animation: confetti-fall linear;
}

@keyframes confetti-fall {
    0% { transform: translateY(0) rotate(0); }
    100% { transform: translateY(100vh) rotate(360deg); }
}
